<div class="container">
   
    <div class="card" style="height:75vh">
      
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Cart</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    
                    <table style="width:100%">
                        <tr>
                        <th>Name</th>
                        <th>Description</th> 
                        <th>Image</th>
                        <th>Quantity / Price</th>
                        </tr>
                        <tr *ngFor="let p of finalItems">
                            <td>{{p.name}}</td>
                            <td>{{p.desc}}</td>
                            <td><img [src]="p.url" height="30" width="30" /></td>
                            <td>{{p.quantity}} * {{p.price | currency:'EUR'}}</td>
                        </tr>
                      
                    </table>
                  
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12">
                    Discount applied. ( Buy 3 Get one free)
                 </div> 
              
                     <div class="col-9">
                        Price
                     </div> 
                     <div class="col-3">
                         {{totalPrice | currency:'EUR'}}
                    </div>  
            </div>
         
        </div>
      </div>
</div>